/* It's recommended that you display this webpage on a device which is connected to internet, as fonts are being imported online */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap');
/* General Styles */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Bebas Neue', cursive;
	width: 100%;
	min-height: 100vh;
}

a{
	text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active{
	color: #111;
}

/*             "Main" container for giving horizontal breathing space          */
main{
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.2), -12px 0 8px -4px rgba(0, 0, 0, 0.2);
	background-color: #EDF7F9;
	width: 80%;
	margin: 0 auto;
}

/*                 Design of the header with navigation bar                    */
header{
	width: 100%;
	height: 15%;
	padding: 2rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

header img{
	height: 2.2rem;
	width: 2.2rem;
}

header h1{
	margin-left: 0.8rem;
	display: inline;
}

.logo{
	display: flex;
}

header nav a{
	text-align: center;
	font-size: 1rem;
	letter-spacing: 2px;
	border: 1px solid black;
	padding: 0.5rem 2rem;
	margin-left: 1rem;
	transition: background-color 0.3s linear;
}

header nav a:hover{
	background-color: #A1DCF0;
}

/*                    Design of the section with "about info"               */
.about_main{
	padding: 3rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

.about_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about_text #thisisme{
	font-size: 1.5rem;
}

.about_text h1{
	font-size: 3.5rem;
}

.about_text #introhero{
	font-family: 'Garamond', serif;
	font-style: italic;
	font-size: 1.8rem;
}

.about_avatar{
	display: flex;
	justify-content: center;
}

.about_avatar img{
	border: 0.7rem solid #0C61EE;
	height: 25rem;
}